html, body {
	font-family: Verdana, 'Verdana Ref', sans-serif;

	overflow: hidden;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

h1:focus {
	outline: none;
}

a, .btn-link {
	color: #0071c1;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.content {
	padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}

.blazor-error-boundary {
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
	padding: 1rem 1rem 1rem 3.7rem;
	color: white;
}

.blazor-error-boundary::after {
	content: "An error has occurred."
}

::-webkit-scrollbar {
	display: none;
}

#loading-overlay {
	width: 100vw;
	height: 100vh;
	
	position: absolute;
	top: 0;
	left: 0;

	background-color: #343638;
	z-index: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.lds-default {
	display: inline-block;
	position: relative;

	width: 300px;
	height: 300px;
	max-width: 60vh;
	max-height: 60vh;
}
.lds-default div {
	position: absolute;
	width: 7.5%;
	height: 7.5%;
	border-radius: 50%;
	animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
	animation-delay: 0s;
	top: 46.25%;
	left: 82.5%;
}
.lds-default div:nth-child(2) {
	animation-delay: -0.1s;
	top: 27.5%;
	left: 77.5%;
}
.lds-default div:nth-child(3) {
	animation-delay: -0.2s;
	top: 13.75%;
	left: 65%;
}
.lds-default div:nth-child(4) {
	animation-delay: -0.3s;
	top: 8.75%;
	left: 46.25%;
}
.lds-default div:nth-child(5) {
	animation-delay: -0.4s;
	top: 13.75%;
	left: 27.5%;
}
.lds-default div:nth-child(6) {
	animation-delay: -0.5s;
	top: 27.5%;
	left: 13.75%;
}
.lds-default div:nth-child(7) {
	animation-delay: -0.6s;
	top: 46.25%;
	left: 8.75%;
}
.lds-default div:nth-child(8) {
	animation-delay: -0.7s;
	top: 65%;
	left: 13.75%;
}
.lds-default div:nth-child(9) {
	animation-delay: -0.8s;
	top: 77.5%;
	left: 27.5%;
}
.lds-default div:nth-child(10) {
	animation-delay: -0.9s;
	top: 82.5%;
	left: 46.25%;
}
.lds-default div:nth-child(11) {
	animation-delay: -1s;
	top: 77.5%;
	left: 65%;
}
.lds-default div:nth-child(12) {
	animation-delay: -1.1s;
	top: 65%;
	left: 77.5%;
}
@keyframes lds-default {
	0%, 20%, 80%, 100% {
		transform: scale(1);
		background: #f48a21;
		filter: drop-shadow(0 0 3px #f48a21) blur(1px);
	}
	50% {
		transform: scale(1.5);
		background: #f19539;
		filter: drop-shadow(0 0 8px #f19539) blur(1px);
	}
}
