[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/bvh"]
	path = libs/bvh
	url = https://github.com/madmann91/bvh.git
[submodule "libs/VTFParser"]
	path = libs/VTFParser
	url = https://github.com/Derpius/VTFParser.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/BSPParser"]
	path = libs/BSPParser
	url = https://github.com/Derpius/BSPParser.git
[submodule "libs/gmod-module-base"]
	path = libs/gmod-module-base
	url = https://github.com/Facepunch/gmod-module-base.git
	branch = development
[submodule "libs/GMFS"]
	path = libs/GMFS
	url = https://github.com/Derpius/GMFS.git
