/* /Pages/Index.razor.rz.scp.css */
.subpage[b-iceat66jhc] {
	width: 100vw;
	height: calc(100vh - env(safe-area-inset-bottom));
	scroll-snap-align: start;
	position: relative;

	overflow: hidden;
}

.subpage-content[b-iceat66jhc] {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	-webkit-backdrop-filter: blur(0.5vw) grayscale(30%);
	        backdrop-filter: blur(0.5vw) grayscale(30%);
}

.page-container[b-iceat66jhc] {
	overflow-y: scroll;
	height: calc(100vh - env(safe-area-inset-bottom));
	-ms-scroll-snap-type: y mandatory;
	    scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	background-color: #343638;
}

.scroll-down[b-iceat66jhc] {
	width: 60px;
	height: 60px;

	border-radius: 100%;

	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translate(-50%, 50%);

	cursor: pointer;
}

.scroll-down[b-iceat66jhc]::after {
	content: "";

	position: absolute;
	top: 22%;
	left: 50%;
	transform: translate(-50%, 0) scale(150%, 100%) rotate(-45deg);

	width: 40%;
	height: 40%;

	border: 3px solid gainsboro;
	border-top: transparent;
	border-right: transparent;

	-webkit-animation: scroll-down 1s ease-in-out infinite;
	        animation: scroll-down-b-iceat66jhc 1s ease-in-out infinite;
}

@-webkit-keyframes scroll-down {
	0% {
		top: 22%;
	}
	50% {
		top: 48%;
	}
	100% {
		top: 22%;
	}
}

@keyframes scroll-down-b-iceat66jhc {
	0% {
		top: 22%;
	}
	50% {
		top: 48%;
	}
	100% {
		top: 22%;
	}
}

@media (max-height: 600px) {
	.scroll-down[b-iceat66jhc] {
		width: 40px;
		height: 40px;

		bottom: 40px;
	}

	.scroll-down[b-iceat66jhc]::after {
		border-width: 2px;
	}
}

@media (max-height: 350px) {
	.scroll-down[b-iceat66jhc] {
		display: none;
	}
	
	.scroll-down[b-iceat66jhc]::after {
		display: none;
	}
}
/* /Shared/BackgroundImage.razor.rz.scp.css */
div[b-jd579xl96x] {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;

	background-position: center;
	background-size: cover;

	opacity: 0.3;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-ekin2501af] {
	position: relative;
	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main[b-ekin2501af] {
	flex: 1;
}

@media (min-width: 641px) {
	.page[b-ekin2501af] {
		flex-direction: row;
	}
}
/* /Shared/QuickAccessButton.razor.rz.scp.css */
