/* /Pages/Index.razor.rz.scp.css */
.subpage[b-iceat66jhc] {
	width: 100%;
	height: 100%;

	scroll-snap-align: start;
	position: relative;

	overflow: hidden;
}

.subpage-content[b-iceat66jhc] {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	-webkit-backdrop-filter: blur(0.5vw) grayscale(30%);
	        backdrop-filter: blur(0.5vw) grayscale(30%);
}

.page-container[b-iceat66jhc] {
	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;
	height: var(--app-height);

	overflow-y: scroll;

	-ms-scroll-snap-type: y mandatory;
	    scroll-snap-type: y mandatory;
	scroll-behavior: smooth;

	background-color: #343638;
}

.quick-accesss-content[b-iceat66jhc] {
	gap: 5vw;
	padding-left: 5vw;
	padding-right: 5vw;
}
/* /Shared/BackgroundImage.razor.rz.scp.css */
div[b-jd579xl96x] {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;

	background-position: center;
	background-size: cover;

	opacity: 0.3;
}
/* /Shared/ImageMosaic.razor.rz.scp.css */
.container[b-5ncr4frsnk] {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	gap: 2vw;
	padding: 2vw;

	width: calc(var(--app-height) * 1);
	height: var(--app-height);

	overflow: scroll;
}

.image[b-5ncr4frsnk] {
	height: calc((var(--app-height) - 8vw) / 3);
	
	background-position: center;
	background-size: cover;
	box-shadow: -0.6vh 0.6vh 0.8vh 0.1vh #272727;
}

.text-container[b-5ncr4frsnk] {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-size: 2.5vh;
	font-weight: lighter;
	letter-spacing: 0.8vh;
	color: gainsboro;
	text-align: center;
	font-variant: small-caps;

	opacity: 0;
	backdrop-filter: brightness(100%);

	transition:
		opacity 0.3s ease-in-out,
		backdrop-filter 0.3s ease-in-out;
}
.text-container:hover[b-5ncr4frsnk] {
	opacity: 0.8;
	backdrop-filter: brightness(30%);

	transition:
		opacity 0.3s ease-in-out,
		backdrop-filter 0.3s ease-in-out;
}

span[b-5ncr4frsnk] {
	position: relative;
	left: 0.4vh;
}

.author[b-5ncr4frsnk] {
	font-size: 1.2em;
}

.author[b-5ncr4frsnk]:after {
    content: '';
    border-bottom:1px solid gainsboro;
    display: block;
    position: absolute;
    right: 0.8vh;
    left: 0;
	bottom: 0.1em;
}

.standard[b-5ncr4frsnk] {
	aspect-ratio: 16 / 9;
}

.square[b-5ncr4frsnk] {
	aspect-ratio: 1 / 1;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-ekin2501af] {
	position: relative;
	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main[b-ekin2501af] {
	flex: 1;
}

@media (min-width: 641px) {
	.page[b-ekin2501af] {
		flex-direction: row;
	}
}
/* /Shared/QuickAccessButton.razor.rz.scp.css */
a[b-itjfkasbdd] {
	flex-grow: 1;
	flex-basis: 100%;
	max-width: 800px;
	aspect-ratio: 1/1; /* Experimental but supported by 90.11% of users according to https://caniuse.com/?search=aspect-ratio */

	border-radius: 100%;
	background-color: rgba(33, 33, 33, 0.5);
	filter: drop-shadow(0 0 0.4vw #212121);

	position: relative;

	cursor: pointer;
}

i[b-itjfkasbdd], span[b-itjfkasbdd] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	text-align: center;
	text-anchor: middle;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	color: gainsboro;
}

i[b-itjfkasbdd] {
	font-size: 12vw;

	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}
a:hover > i[b-itjfkasbdd] {
	opacity: 0;
}

span[b-itjfkasbdd] {
	font-size: 3.4vw;
	font-weight: lighter;
	letter-spacing: 0.8vw;
	left: calc(50% + 0.4vw);

	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
a:hover > span[b-itjfkasbdd] {
	opacity: 1;
}
/* /Shared/ScrollDown.razor.rz.scp.css */
div[b-l9e8us6zyr] {
	width: 60px;
	height: 60px;

	border-radius: 100%;

	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translate(-50%, 50%);

	cursor: pointer;
}

div[b-l9e8us6zyr]::after {
	content: "";

	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 0) scale(150%, 100%) rotate(-45deg);

	width: 40%;
	height: 40%;

	border: 3px solid gainsboro;
	border-top: transparent;
	border-right: transparent;
}

div.animated[b-l9e8us6zyr]::after {
	-webkit-animation: scroll-down 1s ease-in-out infinite;
	        animation: scroll-down-b-l9e8us6zyr 1s ease-in-out infinite;
}

@-webkit-keyframes scroll-down {
	0% {
		top: 22%;
	}
	50% {
		top: 48%;
	}
	100% {
		top: 22%;
	}
}

@keyframes scroll-down-b-l9e8us6zyr {
	0% {
		top: 22%;
	}
	50% {
		top: 48%;
	}
	100% {
		top: 22%;
	}
}

@media (max-height: 600px) {
	div[b-l9e8us6zyr] {
		width: 40px;
		height: 40px;

		bottom: 40px;
	}

	div[b-l9e8us6zyr]::after {
		border-width: 2px;
	}
}
