@page "/"

<PageTitle>VisTrace - GMod Raytracing Library</PageTitle>

<div class="no-scrollbar page-container">
	<div id="landing" class="subpage">
		<BackgroundImage src="https://github.com/Derpius/VisTrace/blob/branding/Showcase/Derpius,VisTrace%20Background.png?raw=true"></BackgroundImage>
		<div class="subpage-content">
			<img src="images/logo.svg" style="max-width: 1000px;" alt="VisTrace" />
			<div class="scroll-down" onclick="document.getElementById('quick-access2').scrollIntoView({ behaviour: 'smooth' })"></div>
		</div>
	</div>

	<div id="quick-access2" class="subpage">
		<BackgroundImage src="https://github.com/Derpius/VisTrace/blob/branding/Showcase/Derpius,Duel%20of%20the%20Fates.png?raw=true"></BackgroundImage>
		<div class="subpage-content">
			<h1>QUICK ACCESS</h1>
		</div>
	</div>

	<div id="about" class="subpage">
		<BackgroundImage src="https://github.com/Derpius/VisTrace/blob/branding/Showcase/Derpius,Fork%20Alpha%20Testing.png?raw=true"></BackgroundImage>
		<div class="subpage-content">
			<h1>ABOUT</h1>
		</div>
	</div>

	<div id="showcase" class="subpage">
		<div class="subpage-content">
			<h1>SHOWCASE</h1>
		</div>
	</div>
</div>
