.subpage {
	width: 100%;
	height: 100%;

	scroll-snap-align: start;
	position: relative;

	overflow: hidden;
}

.subpage-content {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	-webkit-backdrop-filter: blur(0.5vw) grayscale(30%);
	        backdrop-filter: blur(0.5vw) grayscale(30%);
}

.page-container {
	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;
	height: var(--app-height);

	overflow-y: scroll;

	-ms-scroll-snap-type: y mandatory;
	    scroll-snap-type: y mandatory;
	scroll-behavior: smooth;

	background-color: #343638;
}
