@page "/"

<PageTitle>VisTrace - GMod Raytracing Library</PageTitle>

<div class="page-container">
	<section id="landing" class="subpage">
		<BackgroundImage src="https://github.com/Derpius/VisTrace/blob/branding/Showcase/Derpius,VisTrace%20Background.png?raw=true" />
		<div class="subpage-content">
			<object data="images/logo.svg" type="image/svg+xml" style="max-width: 1000px;"></object>
			<ScrollDown id="quick-access" />
		</div>
	</section>

	<section id="quick-access" class="subpage">
		<BackgroundImage src="https://github.com/Derpius/VisTrace/blob/branding/Showcase/Derpius,Duel%20of%20the%20Fates.png?raw=true" />
		<div class="subpage-content">
			<QuickAccessButton Icon="" Text="Steam Workshop" />
			<QuickAccessButton Icon="" Text="VisTracing in One Weekend" />
			<QuickAccessButton Icon="" Text="Documentation" />
		</div>
		<ScrollDown id="about" />
	</section>

	<section id="about" class="subpage">
		<BackgroundImage src="https://github.com/Derpius/VisTrace/blob/branding/Showcase/Derpius,Fork%20Alpha%20Testing.png?raw=true" />
		<div class="subpage-content">
			<h1>ABOUT</h1>
		</div>
		<ScrollDown id="showcase" />
	</section>

	<section id="showcase" class="subpage">
		<div class="subpage-content">
			<h1>SHOWCASE</h1>
		</div>
	</section>
</div>
