@page "/"

<PageTitle>VisTrace - GMod Raytracing Library</PageTitle>

<div class="page-container">
	<section id="landing" class="subpage">
		<BackgroundImage src="https://github.com/Derpius/VisTrace/blob/branding/Showcase/Derpius,VisTrace%20Background.png?raw=true" />
		<div class="subpage-content">
			<object data="images/logo.svg" type="image/svg+xml" style="max-width: 1000px;width: 80vw;"></object>
		</div>
		<ScrollDown Animated=true />
	</section>

	<section id="quick-access" class="subpage">
		<BackgroundImage src="https://github.com/Derpius/VisTrace/blob/branding/Showcase/Derpius,Fork%20Alpha%20Testing.png?raw=true" />
		<div class="subpage-content flex-row quick-accesss-content">
			<QuickAccessButton Icon="github-line" Text="GITHUB" HREF="https://github.com/Derpius/VisTrace" />
			<QuickAccessButton Icon="steam-line" Text="STEAM" HREF="https://steamcommunity.com/sharedfiles/filedetails/?id=2531198548" />
			<QuickAccessButton Icon="braces-line" Text="DOCS" HREF="#" />
			<QuickAccessButton Icon="book-2-line" Text="BOOK" HREF="vistracing-in-one-weekend/index.md.html" />
		</div>
		<ScrollDown />
	</section>

	<section id="about" class="subpage">
		<BackgroundImage src="https://github.com/Derpius/VisTrace/blob/branding/Showcase/Derpius,Duel%20of%20the%20Fates.png?raw=true" />
		<div class="subpage-content">
			<span>ABOUT</span>
		</div>
		<ScrollDown />
	</section>

	<section id="showcase" class="subpage">
		<div class="subpage-content">
			<ImageMosaic />
		</div>
	</section>
</div>
