@inject IJSRuntime JS

<div style="background-image: url(@src)"></div>

@code {
	[Parameter, EditorRequired]
	public string src { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		await JS.InvokeVoidAsync("PreloadImage", src);
	}
}
