.page {
	position: relative;
	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main {
	flex: 1;
}

@media (min-width: 641px) {
	.page {
		flex-direction: row;
	}
}
