<div class='@(Animated ? "animated" : "")' onclick="document.getElementsByClassName('page-container')[0].scrollBy({top: 1, left: 0, behavior: 'smooth'})"></div>

@code {
	[Parameter]
	public bool Animated { get; set; } = false;
}
