div {
	width: 60px;
	height: 60px;

	border-radius: 100%;

	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translate(-50%, 50%);

	cursor: pointer;
}

div::after {
	content: "";

	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 0) scale(150%, 100%) rotate(-45deg);

	width: 40%;
	height: 40%;

	border: 3px solid gainsboro;
	border-top: transparent;
	border-right: transparent;

	-webkit-animation: scroll-down 1s ease-in-out infinite;
	        animation: scroll-down 1s ease-in-out infinite;
}

@-webkit-keyframes scroll-down {
	0% {
		top: 22%;
	}
	50% {
		top: 48%;
	}
	100% {
		top: 22%;
	}
}

@keyframes scroll-down {
	0% {
		top: 22%;
	}
	50% {
		top: 48%;
	}
	100% {
		top: 22%;
	}
}

@media (max-height: 600px) {
	div {
		width: 40px;
		height: 40px;

		bottom: 40px;
	}

	div::after {
		border-width: 2px;
	}
}
